<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
AddressList.plist
LocationDemo

Created by 張又壬 on 2021/10/21.
Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>台北林森店</string>
            <key>phone</key>
            <array>
                <string>02-25419789</string>
            </array>
            <key>address</key>
            <string>台北市中山區長春路31號一樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>北投中央店</string>
            <key>phone</key>
            <array>
                <string>02-28917497</string>
            </array>
            <key>address</key>
            <string>台北市北投區中央南路一段8號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北小巨蛋店</string>
            <key>phone</key>
            <array>
                <string>02-25458111</string>
            </array>
            <key>address</key>
            <string>台北市南京東路四段133巷5-1號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北大直店</string>
            <key>phone</key>
            <array>
                <string>02-85091079</string>
            </array>
            <key>address</key>
            <string>台北市中山區大直街61號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>松江南京店</string>
            <key>phone</key>
            <array>
                <string>02-25176690</string>
            </array>
            <key>address</key>
            <string>台北市中山區南京東路二段192號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北錦州店</string>
            <key>phone</key>
            <array>
                <string>02-25000630</string>
            </array>
            <key>address</key>
            <string>台北市中山區合江街154號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北東湖店</string>
            <key>phone</key>
            <array>
                <string>02-26332979</string>
            </array>
            <key>address</key>
            <string>台北市內湖區東湖路141號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北信陽店</string>
            <key>phone</key>
            <array>
                <string>02-23311555</string>
            </array>
            <key>address</key>
            <string>台北市中正區信陽街25號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北市府店</string>
            <key>phone</key>
            <array>
                <string>02-27535555</string>
            </array>
            <key>address</key>
            <string>台北市信義區忠孝東路五段23號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北古亭店</string>
            <key>phone</key>
            <array>
                <string>02-23682768</string>
            </array>
            <key>address</key>
            <string>台北市中正區羅斯福路二段142號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北石牌店</string>
            <key>phone</key>
            <array>
                <string>02-28287788</string>
            </array>
            <key>address</key>
            <string>台北市北投區石牌路二段85號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北遼寧店</string>
            <key>phone</key>
            <array>
                <string>02-27769020</string>
            </array>
            <key>address</key>
            <string>台北市中山區遼寧街46號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北通化店</string>
            <key>phone</key>
            <array>
                <string>02-27321555</string>
            </array>
            <key>address</key>
            <string>台北市大安區通化街81號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北延吉店</string>
            <key>phone</key>
            <array>
                <string>02-87715111</string>
            </array>
            <key>address</key>
            <string>台北市大安區延吉街122號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>南港軟體園區店</string>
            <key>phone</key>
            <array>
                <string>02-27888190</string>
                <string>02-27888150</string>
            </array>
            <key>address</key>
            <string>台北市南港區興東街7-2號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北公館店</string>
            <key>phone</key>
            <array>
                <string>02-23672307</string>
            </array>
            <key>address</key>
            <string>台北市中正區羅斯福路3段316巷5號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>大安復興店</string>
            <key>phone</key>
            <array>
                <string>02-27751564</string>
            </array>
            <key>address</key>
            <string>台北市大安區復興南路一段107巷33號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>松山車站店</string>
            <key>phone</key>
            <array>
                <string>02-27423053</string>
            </array>
            <key>address</key>
            <string>台北市信義區松山路11號B1</string>
        </dict>
        <dict>
            <key>name</key>
            <string>台北農安店</string>
            <key>phone</key>
            <array>
                <string>02-25868310</string>
            </array>
            <key>address</key>
            <string>台北市中山區農安街8-6號1樓</string>
        </dict>
        <dict>
            <key>name</key>
            <string>南京三民店</string>
            <key>phone</key>
            <array>
                <string>02-27619820</string>
            </array>
            <key>address</key>
            <string>台北市松山區南京東路五段123巷6弄2號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>信義永吉店</string>
            <key>phone</key>
            <array>
                <string>02-27619999</string>
            </array>
            <key>address</key>
            <string>台北市信義區永吉路30巷29號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>大安信義店</string>
            <key>phone</key>
            <array>
                <string>02-27557655</string>
            </array>
            <key>address</key>
            <string>台北市大安區信義路三段190號</string>
        </dict>
        <dict>
            <key>name</key>
            <string>內湖科學園區店</string>
            <key>phone</key>
            <array>
                <string>02-26278837</string>
            </array>
            <key>address</key>
            <string>台北市內湖區內湖路一段587號</string>
        </dict>
    </array>
</plist>
